 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to haidr.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to haid3r.com,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:.
    </p>
    <p>Thanks for joining and have a great day! and fuck off</p>
  </body>
</html>