	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">

					<span class="login100-form-title p-b-70">
						Welcome
					</span>
					
						<%=image_tag("DP.jpg",class: "img")%>
						
		</div>
	</div>