<p>
  <strong>Members:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @entry.price %>
</p>
<p>
  <strong>Price:</strong>
  <%= @A %>
</p>
